# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Python-specific
*.egg
*.egg-info/
dist/
build/
*.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Static analysis
.pyre/
.dmypy.json
.pytype/

# Output
*.out
*.pdf
    